.about_text{
 font-size: 18px;
 font-weight: 400;
 color: black;
 line-height: 23px;
 text-align: justify;
}

 textarea:hover, 
 textarea:active, 
 textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}