
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Departement</mat-label>
    <mat-select [formControl]="job" multiple (selectionChange)="onRoleChange($event)">
      <mat-select-trigger>
        {{job.value ? job.value[0] : ''}}
        <span *ngIf="job.value?.length > 1" class="example-additional-selection">
          (+{{job.value.length - 1}} {{job.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let job of jobList" [value]="job">{{job}}</mat-option>
    </mat-select>
  </mat-form-field>

     