
.search-container{
  transition: margin-left 0.5s;
    position: relative;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-top: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
}
.search-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #562AD5;
    height: 50px;
    border-radius: 50px;

  }
  .search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
    width: 0;
  }
  .search-box:hover > .search-input {
    width: 200px;
    padding: 0 7px;
  }

  .search-btn {
    color: white;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #562AD5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    text-decoration: none;
  }
  
  .fa-search {
    background: #562AD5;
    font-size: 24px;
  }
 
  .filters-section{

    margin-left: 100px;
    border-left: 1px solid #e2e8f0;
  
  }
  

  
  .btn-filter{
    border-radius: 25px;
    margin: 0 10px;
    height:52px;
    width: 120px;

  }
  
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
    margin: 0 !important;

  }
  ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
  }
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    

  }
.mat-select-panel
{
    height: 25px !important;
}
