
  
  <div class="list-container">
    <a class="sidebar-btn" routerLink="/create" routerLinkActive="sidebar-btn-active" *ngIf="anyRole || isRespo"
    >
      <span>
        <span class="material-icons" routerLink="/create" routerLinkActive="material-icons-active"
   >
          <mat-icon>insert_drive_file</mat-icon>
        </span>
      </span>
      <span class="icon-text">Add CV</span>
    </a>

    <a class="sidebar-btn" routerLink="/home" routerLinkActive="sidebar-btn-active" *ngIf="anyRole || isRespo">
      <span>
        <span class="material-icons" routerLink="/home" routerLinkActive="material-icons-active">
          <mat-icon> file_open</mat-icon>
        </span>
        
      </span>
      <span class="icon-text">CV</span>
    </a>
    <br />

    

    <a href="#" class="sidebar-btn" routerLink="/users" routerLinkActive="sidebar-btn-active" *ngIf="isAdmin">
      <span>
        <span class="material-icons" routerLink="/users" routerLinkActive="material-icons-active">
          <mat-icon>group</mat-icon>
        </span>
      </span>
      <span class="icon-text">Manage Users</span>
    </a>
    <br *ngIf="isAdmin"/>

    <a class="sidebar-btn" routerLink="/register" routerLinkActive="sidebar-btn-active" *ngIf="isAdmin">
      <span>
        <span class="material-icons" routerLink="/register" routerLinkActive="material-icons-active">
          <mat-icon>person_add</mat-icon>
        </span>
      </span>
      <span class="icon-text">Add new User</span>
    </a>
    <br *ngIf="isAdmin"/>

    <a href="#" class="sidebar-btn" routerLink="/projects" routerLinkActive="sidebar-btn-active" *ngIf="isRespo">
      <span>
        <span class="material-icons" routerLink="/projects" routerLinkActive="material-icons-active">
          <mat-icon>folder</mat-icon>
        </span>
      </span>
      <span class="icon-text">Projects</span>
    </a>
    <br />
  </div>
