<app-upload-sidebar [pushStyle]="showPanel"></app-upload-sidebar>
<app-title-section
  [title]="headerTitle"
  [descp]="filesNumber"
  [btnText]="btnText"
  [pushStyle]="showPanel"
  (onClickBtn)="openDialog()"
></app-title-section>
<app-filters-bar [pushStyle]="showPanel" (searchField)="onSearchChange($event)"></app-filters-bar>
<div class="container-fluid contflu">
  <div class="d-flex flex-wrap cv__container">
    <h3 class="container__title">Cvs</h3>
    <br />
    <div class="Cv__cont" *ngFor="let t of filteredcvs; let i = index">
      <mat-icon class="Cv__delete" (click)="delete(t.id)">delete</mat-icon
      ><br />
       <mat-icon class="Cv__icon" >insert_drive_file</mat-icon>
      <p class="folder__title">
        {{ t.title }}
      </p>
      <p class="folder__desc">
        {{ t.description }}
      </p>
    </div>
  </div>
</div>
