
<div class="Cv__cont">
    <div (click)="selectedProfile = !selectedProfile">
    <mat-icon class="Cv__delete" [ngStyle]="{'color': selectedProfile? '#364bb6':'white'} " >check_circle</mat-icon
    ><br />
     <mat-icon class="Cv__icon" >account_circle</mat-icon>
    <p class="folder__title">
        Nacef Racheh
    </p>
    <p class="folder__desc">
        Front end developer
    </p>
</div>
    <div class="btn-section">
        <div class="left-btn">
            <a href="mailto:n.racheh@gmail.com">
                <mat-icon class="btn-icon" >mail</mat-icon>
                
            </a>
        </div>
        <div class="right-btn">
            <a href="tef+21600000000">
                <mat-icon class="btn-icon" >call</mat-icon>
               
            </a>
        </div>
    </div>
  </div>